/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ===== Initializr Styles ==================================================
   Author: Jonathan Verrecchia - verekia.com/initializr/responsive-template
   ========================================================================== */

body {
    font: 16px/26px 'Roboto', sans-serif, Helvetica, Helvetica Neue, Arial;
}

.wrapper {
    width: 100%;
    /*margin: 0 5%;*/
}

/* ===================
    ALL: White Theme
   =================== */

.header-container {
    /*border-bottom: 20px solid #e44d26;*/
    /*border-bottom: 20px solid #9E9E9E;*/
}

.header-container,
.main aside {
    /*background: #f16529;*/
    /*background: #EEEEEE;*/
}

.title {
    /*color: white;*/
    color: black;
}

/* ==============
    MOBILE: Menu
   ============== */

nav ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

nav a {
    display: block;
    margin-bottom: 10px;
    padding: 15px 0;

    text-align: center;
    text-decoration: none;
    font-weight: bold;

    color: white;
    /*background: #e44d26;*/
    background: #9e9e9e;
}

nav a:hover,
nav a:visited {
    color: white;
}

nav a:hover {
    text-decoration: underline;
}

/* ==============
    MOBILE: Main
   ============== */

.main {
    /*padding: 30px 0;*/
}

.main article h1 {
    font-size: 2em;
}

.main aside {
    float: right;
    color: black;
    /*padding: 0px 5% 10px;*/
}

/* ===============
    ALL: IE Fixes
   =============== */

.ie7 .title {
    padding-top: 20px;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.header-container {
    background: url("/img/header.png");
    background-position: center;
    background-size: cover;
}

.header-container header {
    height: 150px;
    padding-top: 10px;
}

.control {
    height: 60px;
    position: relative;
}

.left {
    float: left;
}

.right {
    float: right;
}

.burger-menu,
.close-burger-menu,
.month-icon,
.dot-menu {
    width: 60px;
    margin: 0 20px;
    cursor: pointer;
}

.burger-menu label,
.close-burger-menu label {
    display: block;
    width: 100%;
    height: 100%;
    background: url("/img/burger.png");
    background-size: 50%;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;   
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.dot-menu:hover,
.burger-menu label:hover,
.close-burger-menu label:hover {
    background-position-y: 46%;
    background-color: rgba(255,255,255,0.3);
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.month-picklist {
    font-size: 48px;
    width: 240px;
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    overflow: hidden;
}

.month-picklist:hover select {
    /*text-decoration: underline;*/
    border-bottom: 2px solid #222;
}

.month-picklist select {
    background: transparent;
    border: none;
    cursor: pointer;
    width: 107%;
    position: absolute;
}

.month-picklist select:focus {
    outline: none;
    border-bottom: 2px solid transparent;
}

.month-picklist span {
    position: absolute;
    right: -15px;
    top: 60%;
    transform: translateY(-50%);
    font-size: 60px;
}

option {
    font-size: 0.6em;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

aside button {
    width: 68px;
    height: 68px;
    border-radius: 50%;
    border: none;
    outline: none;
    background: #db4437;
    color: #fefcfc;
    font-size: 36px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

aside button:hover {
    /*background: #E53935;*/
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.main aside {
    position: fixed;
    right: 25px;
    bottom: 25px;
    bottom: 25px;
    /*z-index: 200;*/
}

/*
 *  vertical lines for both tables 
 */
table.vertical-lines-background {
    position: fixed;
    width: 98%;
    width: calc(100% - 17px );
    height: 85%;
    height: calc( 100vh - 150px );
}
table.vertical-lines-background td:first-child {
    width: 4%;
    border-left: none;
}
table.vertical-lines-background td {
    width: 13.71%;
    border-left: 1px solid #EEE;
}


.week-wrapper {
    width: 100%;
    width: calc(100% - 17px);
    height: 215px;
    position: absolute;
    top: 150px;
    border-bottom: 1px solid #EEE;
}

table.week {
    width: 96%;
    height: 100%;
    margin-left: 4%;
    /*z-index: 200;*/
}
table.week th,
table.week td {
    /*border-left: 1px solid #EEEEEE;*/
    width: 14.28%;
    padding-bottom: 10px;
    padding-top: 15px;
}

table.week th span {
    display: block;
    padding: 0 10%;
    width: 80%;
    text-align: left;
}

tr.weekdays th span:nth-child(1) {
    /*font-size: 21px;
    line-height: 22px;*/
    font-size: 18px;
    line-height: 18px;
    /*font-weight: 400;*/
    font-weight: 500;
}

tr.weekdays th span:nth-child(2) {
    /*font-size: 80px;
    line-height: 80px;*/
    font-size: 65px;
    line-height: 65px;
    font-weight: 400;
}

.events-wrapper {
    width: 100%;
    height: 65%;
    height: calc(100vh - 365px);
    overflow-y: auto;
    overflow-x: hidden;
    position: absolute;
    top: 365px;
}

/*.events-wrapper::-webkit-scrollbar {
    display: none;
}*/

/* 100% + 0.7% to pull it a bit under scrollbar to aliign it to top table */
table.events {
    width: 100.7%;
    top: 150px;
}

/*table.events thead td {
    height: 180px;
}*/

table.events tbody {
    /*border-top: 1px solid #EEE;*/
}

table.events td {
    height: 30px;
    width: 13.71%;
    /*border-left: 1px solid #EEE;*/
}

table.events tr:nth-child(even) td {
    border-bottom: 1px solid #eee;
}

table.events tr td.time {
    width: 4%;
    vertical-align: bottom;
    border-top: none;
    padding: 0;
}

table.events td.time span {
    float: right;
    margin-right: 5px;
    margin-bottom: -13px;
    text-transform: uppercase;
    color: #9E9E9E;
}

/*
 *  event div
 */
table.week td,
table.events td {
    padding: 0 10px;
    vertical-align: baseline;
}

.event {
    padding: 1% 3%;
    margin-bottom: 2%;
    border-radius: 3px;
    cursor: pointer;
}

.event span {
    color: #FAFAFA;
    font-weight: 500;
}

.e-regular {
    background: #029ae4;
}
.e-birthdays {
    background: #33b679;
}
.e-important {
    background: #f05722;
}
.e-more span {
    color: #9E9E9E;
}

table.events .event {
    position: absolute;
    padding: 1% 1%;
    width: 10.71%;
    margin: 0;
}

table.events .e-30min {
    height: 30px;
    padding: 0 1%;
}
.e-60min {
    height: 33px;
}
.e-90min {
    height: 65px;
}
.e-180min {
    height: 156px;
}

/*
 *  sidebar
 */
#showsidebar:checked ~ .sidebar-container,
#showsidebar:checked ~ .sidebar-curtine {
    left: 0;
}

.sidebar-container {
    position: fixed;
    height: 100%;
    width: 500px;
    max-width: 90%;
    top: 0;
    left: -550px;
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    background: #212121;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    z-index: 200;
}

.sidebar-container aside {
    height: 100%;
    width: 100%;
    width: calc(100% - 10px);
    padding: 10px 0;
}

.close-burger-menu label {
    background: url("/img/close.svg");
    background-size: 50%;
    background-position: center;
    background-repeat: no-repeat;
}

.sidebar-content {
    width: 90%;
    height: 90%;
    height: calc(95% - 70px);
    margin-top: 70px;
    padding: 5%;
}

.sidebar-content ul {
    list-style: none;
    padding: 0;
}

.sidebar-content li {
    font-size: 36px;
    line-height: 58px;
    text-align: center;
    color: #E0E0E0;
    margin-top: 6%;
    cursor: pointer;
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    border: 1px solid transparent;
}

.sidebar-content li:hover {
    color: #FAFAFA;
    border: 1px solid #FAFAFA;
}

.month-icon {
    background: url("/img/month.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    cursor: initial;
}

.dot-menu {
    background: url("/img/dots.png");
    background-size: 70%;
    background-position: center;
    background-repeat: no-repeat;
    border: 1px solid transparent;
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.dot-menu>label {
    height: 100%;
    position: absolute;
}

.dot-menu label {
    width: 100%;
    cursor: pointer;
}

#showdropmenu:checked ~ .drop-menu {
    top: 0;
}

#showdropmenu:checked ~ .drop-menu-curtine {
    display: block;
}

.drop-menu {
    position: absolute;
    width: 300px;
    height: 360px;
    background: #FAFAFA;
    right: 0;
    top: -500px;
    z-index: 300;
    cursor: initial;
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);    
}

.drop-menu ul {
    list-style: none;
    padding: 0 20px;
    font-size: 36px;
    line-height: 48px;
    text-align: center;
}

.drop-menu li {
    margin-bottom: 10px;
}

.drop-menu li:hover {
    text-decoration: underline;
}

.drop-menu-curtine {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.15);
    z-index: 200;
}

.drop-menu-curtine label {
    position: absolute;
    width: 100%;
    height: 100%;
}

.sidebar-curtine {
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: -200%;
    transition: all 0.1s cubic-bezier(.25,.8,.25,1);
    background: rgba(0, 0, 0, 0.15);
    box-shadow: 200px 0px 300px rgba(0,0,0,0.15);
    z-index: 100;
}

.sidebar-curtine label {
    position: absolute;
    width: 100%;
    height: 100%;
    cursor: pointer;
}








/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 480px) {

/* ====================
    WIDE: CSS3 Effects
   ==================== */

    .header-container,
    .main aside {
        /*-webkit-box-shadow: 0 5px 10px #aaa;
           -moz-box-shadow: 0 5px 10px #aaa;
                box-shadow: 0 5px 10px #aaa;*/
        right: 50px;
        bottom: 50px;
    }

/* ============
    WIDE: Menu
   ============ */

    .title {
        float: left;
    }

    nav {
        float: right;
        width: 38%;
    }

/* ============
    WIDE: Main
   ============ */

    .main article {
        float: left;
        width: 57%;
    }

}

@media only screen and (max-width: 480px) {
    .header-container {
        background: white;
        height: 60px;
    }

    .header-container header {
        height: 100%;
        padding: 0;
    }

    .burger-menu, .close-burger-menu, .month-icon, .dot-menu {
        width: 45px;
        margin: 0;
    }

    .month-picklist {
        font-size: 18px;
        width: 115px;
    }

    .month-picklist select {
        top: 50%;
        transform: translateY(-50%);
    }

    .month-picklist span {
        right: -2px;
        font-size: 36px;
    }
    /*.right {
        float: left;
    }*/
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}